.container {
    margin-top: 20px;
    padding-left: 2px;
    overflow: hidden;
    margin-bottom: 10px;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 2px;
}


@media (max-width: 476px){
    .content {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}